.boton-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .listar-boton, .volver-boton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .listar-boton:hover, .volver-boton:hover {
    background-color: #0056b3;
  }